
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right,#92DCE5,#153131);
}
main {
    background-color: #f1e9df;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(46, 45, 45, 0.945);
    width: 600px;
    margin: auto;
    padding: 10px;
}
h1{
    color: #ED9B40;
    text-align: center;
}
h2 {
    background-image: linear-gradient(to right,#f1cda3,#e6dfd7);
}
p{
    text-align: justify;
}